*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

li{
    margin-left: 1em;
}

ul{
    display: inline-block;
    list-style: none;
    margin: 0 1.25rem;
}

table{
    border-spacing: 0;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    filter: opacity(10%)
}

html {
    scroll-behavior: smooth;
  }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* inizio nav bar */

.nav-bg{
    background-color: rgba(0,132,253,255);
    height: 7vh;
    width: 100%;
}

#one{
    width: 100%;
    height: 7vh;
    background-color: rgba(0,132,253,255);
    opacity: 70%;
    transition: 0.3s;
    position: fixed;
    z-index: 9999;
}

nav{
    color: white;
    height: 7vh;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

header:hover #one {
    opacity: 100%;
}

nav ul{
    display: none;
}

li a{
    color: white;
    opacity: 100%;
}

#button-li{
    padding: 8px 12px;
    border-radius: 6px;
    background-color: white;
    color: rgba(0,132,253,255);
    opacity: 100%;

}

.option-underline{
    padding-bottom: 2.8vh;
}

.option-underline:hover{
    border-bottom: 2px white solid;
}

#up{
    position: fixed;
    bottom: 50px;
    right: 30px;
    background: rgba(0,132,253,255);
    padding: 1rem;
    border-radius: 50%;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(0,132,253,255);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0,132,253,255);
}
  

/* inizio 5 cards */

.container-5-cards{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-5-cards p{
    color: rgba(90,110,127,255);
    font-weight: 550;
}

.card{
    flex-basis: 100%;
    background-color: rgba(181,221,255,255);
    padding: 1.5rem;
    padding-bottom: 0;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card1{
    flex-basis: 100%;
    background-color: rgba(181,221,255,255);
    padding: 1.5rem;
    padding-bottom: 0;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card2{
    flex-basis: 100%;
    background-color: rgba(181,221,255,255);
    padding: 1.5rem;
    padding-bottom: 0;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.container-5-cards h3{
    color: rgba(0,132,253,255);
    margin: 1.2rem;
    margin-left: 0rem;
    font-size: 1.5rem;
}

.card p{
    margin: 1.2rem
}

.button-5-cards{
    background-color: rgba(0,132,253,255);
    color: white;
    margin: 1.2rem;
    border-radius: 40px;
    padding: 1rem;
    margin-bottom: 2rem;
    display: block;
    margin-right: 40%;
    text-align: center;
    margin-left: 0;
}

img{
    display: block;
    margin-bottom: 0;
}

.container-5-cards i{
    text-align: center;
    font-size: 6rem;
    display: block;
    color: rgba(0,132,253,255);

}

.text-align{
    text-align: center;
}

.container-5-cards .card1 i{
    font-size: 1rem;
    display: inline;
    color: white;
}

/* fine 5 cards */

/* stategic plan */

.container-strategic{
    display: flex;
    padding: 2rem;
    background-color: rgba(151,146,228,255);
    margin-top: 3rem;
    flex-direction: column;
}

.container-strategic h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.container-strategic h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.container-strategic img{
    width: 100%;
}

.sp-card1{
    color: white;
}

.sp-card2{
    background-color: white;
    border-radius: 25px;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.sp-card2 span{
    margin-top: 1rem;
    background-color: rgba(151,146,228,255);
    border-radius: 50%;
    padding: 1rem 1.3rem;
    display: inline-block
}

/* fine stategic plan */

/* testimonials */

.testimonial-container{
    text-align: center;
    padding-top: 4rem;
    padding: 2rem;
}

.testimonial-container h2{
    color: rgba(151,146,228,255);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.t-cards-container{
    display: flex;
    flex-direction: column;
}

.t-cards{
    background-color: rgba(151,146,228,255);
    color: white;
    padding: 2rem;
    border-radius: 50px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.t-cards p{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.img-s{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: -48px center;
    display: block;
    background-image: url(img/testimonial1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.img-s2{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: -48px center;
    display: block;
    background-image: url(img/testimonial2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.img-s3{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: -48px center;
    display: block;
    background-image: url(img/testimonial3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

/* benefit of working whit us */

.benefit-container{
    background-color: rgba(151,146,228,255);
    padding: 2rem;
}

.benefit-container h2{
    color: white;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.b-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.b-card{
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    flex-basis: 100%;

}

.b-card h2{
    color: rgba(151,146,228,255);
    margin-bottom: 1rem;
    font-size: 5rem;
}

.b-card span{
    color: rgba(151,146,228,255);
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.b-card a{
    color: white;
    background-color: rgba(151,146,228,255);
    display: block;
    margin-top: 1rem;
    border-radius: 20px;
    text-align: center;
    margin-right: 60%;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

/* about us */

.about-us-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.about-card{
    flex-basis: 100%;
}

.about-card2{
    flex-basis: 100%;
}

.about-card h2{
    color: rgba(151,146,228,255);
    margin-bottom: 2rem;
    font-size: 5rem;
}

.about-card p{
    margin-bottom: 2rem;
    display: block;
}

.img-about{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-position: center;
    display: block;
    background-image: url(img/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.img-about span{
    color: rgba(151,146,228,255);
    font-size: 7rem;
    position: relative;
    left: 70%;
    top: -15%;
}

.text-purple{
    color: rgba(151,146,228,255);
    display: block;
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.about-card2 a{
    padding: 0.5rem;
    color: white;
    background-color: rgba(151,146,228,255);
    border-radius: 15px;
}

/* get started */

.get-started-container{
    background-color: rgba(151,146,228,255);
    padding: 2rem;
    text-align: center;
}

.get-started-container span{
    color: white;
    display: block;
    margin: 2rem;
}

.get-started-container h3{
    color: white;
    font-size: 2.5rem;
}

.get-started-container h2{
    color: rgba(253,193,95,255);
    margin: 2rem;
    font-size: 5rem;
}

.get-started-container p{
    color: white;
    display: block;
    margin-bottom: 2rem;
}

.get-started-button{
    padding: 1rem;
    border-radius: 20px;
    color: rgba(151,146,228,255);
    background-color: white;
}

.get-started-container span a{
    color: white;
    text-decoration-line: underline;
}

/* footer */

footer{
    background-color: rgba(51,51,51,255);
    color: white;
    padding: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

footer p{
    display: block;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

footer a{
    text-decoration: underline;
    color: rgba(151,146,228,255);
}

/* ###################################################### */

/* medie query */

/* ###################################################### */

@media only screen and (min-width: 992px) {

    /* nav */

    nav{
        padding-left: 15%;
        padding-right: 15%;
    }

    nav ul{
        display: inline;
    }

    nav ul li{
        display: inline;
    }

    #bars{
        display: none;
    }

    button{
        display: none;
    }

    /* 5 cards */

    .container-5-cards{
        padding-left: 15%;
        padding-right: 15%;
    }

    .card1 img{
        height: 100%;
        width: 18rem;
    }

    .card1{
        display: flex;
    }

    .card1 h3{
        margin-left: 0;
    }


    /* strategic plan */

    .container-strategic{
        flex-direction: row;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 3rem;
        justify-content: space-between;
    }

    .sp-card2{
        margin-top: 8rem;
        flex-basis: 48%;
    }
    .sp-card1{
        margin-top: 3rem;
        flex-basis: 48%;
    }

    .container-strategic h2 {
        margin-top: 7rem;
        margin-bottom: 4rem;
    }
    
    /* testimonials */
    
    .testimonial-container{
        padding-left: 15%;
        padding-right: 15%;
    }

    .t-cards{
        flex-direction: row;
        text-align: left;
    }

    .t-cards p{
        padding: 1rem
    }

    .t-cards span{
        padding: 1rem
    }

    /* benefit of working whit us */

    .benefit-container{
        padding-left: 15%;
        padding-right: 15%;
    }

    .b-cards-container .b-card{
        flex-basis: 30.5%;
    }

    /* about us */

    .about-us-container{
        padding-left: 15%;
        padding-right: 15%;
    }

    /* get started */

    .get-started-container p{
        padding-left: 30%;
        padding-right: 30%;
    }

    /* footer */

    footer{
        padding-left: 30%;
        padding-right: 30%; 
    }
}

@media only screen and (min-width: 770px) {


    nav ul{
        display: inline;
    }

    nav ul li{
        display: inline;
    }

    #bars{
        display: none;
    }

    button{
        display: none;
    }

    /* 5 cards */
    .container-5-cards{
        justify-content: space-between;
    }

    .card1{
        flex-basis: 65.5%
    }

    .card{
        flex-basis: 31%;
    }

    /* testimonials */

    .t-cards{
        flex-direction: row;
        text-align: left;
    }

    .t-cards p{
        padding: 1rem
    }

    .t-cards span{
        padding: 1rem
    }

    /* benefit of working whit us */

    .b-card{
        flex-basis: 48%;
    }

    /* about us */

    .about-card{
        flex-basis: 60% ;
        padding-right: 4rem;
    }

    .about-card2{
        flex-basis: 38%;
    }

     /* get started */

    .get-started-container p{
        padding-left: 30%;
        padding-right: 30%;
    }

    /* footer */

    footer{
        padding-left: 30%;
        padding-right: 30%; 
    }

}

@media only screen and (min-width: 1441px) {

    button{
        display: none;
    }

    nav{
        padding-left: 25%;
        padding-right: 25%;
    }

    .container-5-cards{
        padding-left: 25%;
        padding-right: 25%;
    }

    .container-strategic{
        padding-left: 25%;
        padding-right: 25%;
    }

    .testimonial-container{
        padding-left: 25%;
        padding-right: 25%;
    }

    .benefit-container{
        padding-left: 25%;
        padding-right: 25%;
    }

    .about-us-container{
        padding-left: 25%;
        padding-right: 25%;
    }

    .get-started-container {
        padding-left: 30%;
        padding-right: 30%;
    }

    footer{
        padding-left: 30%;
        padding-right: 30%; 
    }

}